<?xml version="1.0" encoding="utf-8" ?>
<configuration>


    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="KAIOT_Uploader.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <KAIOT_Uploader.My.MySettings>
            <setting name="pFTPadd" serializeAs="String">
                <value>192.168.250.62</value>
            </setting>
            <setting name="pFTPuser" serializeAs="String">
                <value>KVIE</value>
            </setting>
            <setting name="pFTPpass" serializeAs="String">
                <value />
            </setting>
            <setting name="pFTPfolder" serializeAs="String">
                <value>0_CARD/data</value>
            </setting>
        </KAIOT_Uploader.My.MySettings>
    </userSettings>
</configuration>
